# fly.toml app configuration file generated for reach-registration-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "reach-registration-backend"
primary_region = "jnb"

[build]
  image = "reach-registration-backend:latest"

[env]
  PORT = "5000"

[[services]]
  internal_port = 5000
  processes = ["app"]

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.http_checks]
    enabled = true
    interval = 10000
    timeout = 5000
    grace_period = "5s"
    method = "get"
    path = "/health"
